<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置文件 -->
<configuration>

    <!--引入外部配置文件 -->
    <properties resource="database.properties">
    </properties>

    <!--设置 -->
    <settings>
        <!-- SQL日志输出-->

        <!--是否开启驼峰命名自动映射,即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--类型别名 -->
    <typeAliases>
        <!-- 直接指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean
         则在使用的地方直接使用类的名字
        -->
        <package name="com.player.es.Domain"/>
    </typeAliases>

    <!--开发环境设置 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/TeamMapper.xml"/>
        <mapper resource="mapper/PlayerMapper.xml"/>
        <mapper resource="mapper/MatchMapper.xml"/>
        <mapper resource="mapper/ServiceMapper.xml"/>
        <mapper resource="mapper/MatchDataMapper.xml"/>
        <mapper resource="mapper/NoticeMapper.xml"/>
    </mappers>
</configuration>
