<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置文件 -->
<configuration>

    <!--引入外部配置文件 -->
    <properties resource="database.properties">
    </properties>

    <!--设置 -->
    <settings>
<!--        允许插入null-->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- SQL日志输出-->

        <!--是否开启驼峰命名自动映射,即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--类型别名 -->
    <typeAliases>
        <!-- 直接指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean
         则在使用的地方直接使用类的名字
        -->
        <!-- 公用Domain部分 -->
        <package name="com.player.es.Domain"/>
        <!-- cmf 负责模块中的Domain -->
        <package name="com.player.es.cmf.Domain"/>
        <!-- lss 负责模块中的Domain -->
        <package name="com.player.es.lss.Domain"/>
    </typeAliases>
    <!--开发环境设置 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <!--  cmf add               -->
                <property name="poolPingQuery" value="SELECT NOW()" />
                <property name="poolPingEnabled" value="true" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- cmf mapper.xml -->
        <mapper resource="mapper/cmf/TeamMapper.xml"/>
        <mapper resource="mapper/cmf/PlayerMapper.xml"/>
        <mapper resource="mapper/cmf/MatchMapper.xml"/>
        <mapper resource="mapper/cmf/MatchDataMapper.xml"/>
        <mapper resource="mapper/cmf/KeyNumMapper.xml"/>
        <!-- lss mapper.xml -->
        <mapper resource="mapper/lss/UserMapper.xml"/>
        <mapper resource="mapper/lss/NoticeMapper.xml"/>
        <mapper resource="mapper/lss/GlobalMapper.xml"/>
        <mapper resource="mapper/lss/ManageMapper.xml"/>
    </mappers>
</configuration>
