<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个DAO接口-->
<mapper namespace="com.player.es.cmf.Dao.MatchDataDao">
<select id="test" resultType="MatchDataDomain">
    select * from  match_data
</select>
<!--    插入数据-->
    <insert id="insertMatchData" parameterType="map">
         INSERT INTO match_data(match_id, player_id,is_home,score,bound,assist,match_time,block,steal,foul,turnover,free,finish)
        VALUES (#{matchId},#{playerId},#{isHome},#{score},#{bound},#{assist},#{time},#{block},#{steal},#{foul},#{turnOver},#{free},0)
    </insert>
    <select id="initMatchDataList" parameterType="MatchDataDomain">
        INSERT INTO match_data(match_id, player_id,is_home,score,bound,assist,match_time,block,steal,foul,turnover,free,finish)
        VALUES (#{matchId},#{playerId},#{isHome},#{score},#{bound},#{assist},#{matchTime},#{block},#{steal},#{foul},#{turnover},#{free},0)
    </select>
    <!-- 球队-某赛季-各项总和-->
    <select id="getTeamSum" parameterType="String" resultType="java.util.LinkedHashMap">
        select team_id,team_name,sum(score) score ,sum(bound) bound, sum(assist) assist,
        sum(block) block,sum(steal) steal, sum(foul) foul,sum(free) free,sum(turnover) turnover
        from team,match_,match_data
        where team_id = #{teamId} AND match_season = #{season} AND match_.match_id = match_data.match_id
        AND( (#{teamId} = match_home and is_home=1) OR (match_away = #{teamId} and is_home=0))
    </select>
    <select id="getTeamSumByCN" parameterType="String" resultType="java.util.LinkedHashMap">
        select team_id,team_name,sum(score) '得分', sum(assist) '助攻', sum(bound) '篮板',sum(steal) "抢断", sum(block) '盖帽',
        sum(free) '罚球', sum(foul) '犯规',sum(turnover) '失误'
        from team,match_,match_data
        where team_id = #{teamId} AND match_season = #{season} AND match_.match_id = match_data.match_id
        AND( (#{teamId} = match_home and is_home=1) OR (match_away = #{teamId} and is_home=0))
    </select>
    <!-- 球队-按赛季分组-各项数据总和 -->
    <select id="getTeamSumBySeason" parameterType="String" resultType="java.util.LinkedHashMap">
        select match_season season,sum(score) score ,sum(bound) bound, sum(assist) assist,
        sum(block) block,sum(steal) steal, sum(foul) foul,sum(free) free,sum(turnover) turnover
        from match_,match_data
        where match_.match_id = match_data.match_id
        AND( (#{teamId} = match_home and is_home=1) OR (match_away = #{teamId} and is_home=0))
        group by  match_season;
    </select>
    <select id="getAllTeamSum" parameterType="String" resultType="java.util.LinkedHashMap">
        select sum(score) score ,sum(bound) bound, sum(assist) assist,
        sum(block) block,sum(steal) steal, sum(foul) foul,sum(free) free,sum(turnover) turnover
        from match_data,match_
        where match_data.match_id = match_.match_id AND match_season = #{season} AND match_status = 1
    </select>
    <!-- 获取球队赛事各项总和 -->
    <select id="getSeasonSum" parameterType="String" resultType="java.util.LinkedHashMap">
        select team_id,sum(score) score ,sum(bound) bound, sum(assist) assist,
        sum(block) block,sum(steal) steal, sum(foul) foul,sum(free) free,sum(turnover) turnover
        from team, match_,match_data
        where match_season = #{season} AND match_.match_id = match_data.match_id
        AND( (team_id = match_home and is_home=1) OR (match_away = team_id and is_home=0))
        group by team_id order by team_id
    </select>
    <!--球员-各项数据最高 -->
    <select id="getMaxItemOfPlayer" parameterType="String" resultType="java.util.LinkedHashMap">
        select max(score)+5 maxScore ,max(assist)+3 maxAssist,max(bound)+5 maxBound,max(block)+3 maxBlock,max(steal)+3 maxSteal
        from match_,match_data
        where match_.match_id = match_data.match_id AND match_season = #{season}
    </select>
    <update id="editMatchData" parameterType="MatchDataDto" >
        UPDATE match_data
        SET score = #{score},assist=#{assist},bound=#{bound},steal=#{steal},block=#{block},foul=#{foul},
            turnover=#{turnOver},free=#{free},match_time=#{time}
        where match_id = #{matchId} and player_id = #{playerId};
    </update>
    <select id="queryMatchData" parameterType="String" resultType="MatchDataDomain">
        select  * from match_data
        where match_id = #{matchId} and player_id = #{playerId};
    </select>
    <select id="sumOfMatch" resultType="int">
        select sum(score)
        from match_data
        where match_id =#{matchId} and is_home =#{isHome};
    </select>
    <update id="updateMatchScore">
        update match_
        set home_score = #{homeScore} , away_score = #{awayScore}
        where match_id = #{matchId};
    </update>
</mapper>
