<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个DAO接口-->
<mapper namespace="com.player.es.cmf.Dao.TeamDao">
    <select id="getTeamList" resultType="map">
      select  team_id teamId, team_name teamName from team
    </select>
    <select id="getSeasonList" resultType="java.util.LinkedHashMap">
        select distinct match_season season from match_ order by match_season desc;
    </select>
    <select id="getTeamInfo" parameterType="String" resultType="TeamDomain">
        select * from team
        where team_id = #{teamId}
    </select>
    <select id="getTeamInfoById" parameterType="String" resultType="java.util.LinkedHashMap">
        select team_id teamId, team_name teamName
         from team
        where team_id = #{teamId}
    </select>
    <select id="getTeamCount" resultType="int">
        select count(*) from team
    </select>
    <!-- 某队-所有球员-某赛季-场均数据-得分-助攻-抢断-盖帽-篮板 -->
    <select id="getPlayerAvgData" parameterType="String" resultType="HashMap">
        select player.player_id playerId,player_name name, player_position position, player_number number,
        ROUND(AVG(score),1) score,ROUND(AVG(bound),1) bound,ROUND(AVG(assist),1) assist,
        ROUND(AVG(block),1) block,ROUND(AVG(steal),1) steal
        from player,match_data,match_
        where  match_.match_id = match_data.match_id AND match_data.player_id = player.player_id
        AND match_season = #{season}  AND( (#{teamId} = match_home and is_home=1) OR (match_away = #{teamId} and is_home=0))
        group by player.player_id;
    </select>
<!--某队-赛季-所有赛事-->
    <select id="getTeamSeasonMatchList" parameterType="String" resultType="MatchPojo">
        select match_id matchId,match_date date, match_home homeId,match_away awayId,
        home.team_name homeName, away.team_name awayName,home_score homeScore,
        away_score awayScore,match_status status
        from  match_, team home, team away
        where match_season = #{season}
        AND (home.team_id = match_home and away.team_id = match_away)
        AND (match_home = #{teamId} OR match_away = #{teamId})
        order by match_date;
    </select>
    <select id="lastSevenMatch" resultType="java.util.LinkedHashMap" parameterType="String">
        select DATE_FORMAT(match_date,'%m-%d') date,match_home,home_score, match_away,away_score
        from match_
        where match_status=1 AND match_date  &lt;= now() AND (match_home=#{teamId} or match_away=#{teamId})
        order by match_date Desc  limit 0,7;
    </select>
    <select id="lastSeasonMatch" resultType="java.util.LinkedHashMap" parameterType="String">
        select DATE_FORMAT(match_date,'%m-%d') date,match_home,home_score, match_away,away_score
        from match_
        where match_season=#{season} AND match_status=1 AND
        match_date  &lt;= NOW() AND (match_home=#{teamId} or match_away=#{teamId})
        order by match_date Desc;
    </select>
</mapper>
