<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个DAO接口-->
<mapper namespace="com.player.es.Dao.NoticeDao">
    <select id="test" resultType="NoticeDomain">
        SELECT * FROM notice
    </select>

    <insert id="createNotice" parameterType="NoticeDomain">
        insert into notice values(#{noticeId},#{authId},#{playerId},#{homeId},#{awayId},#{noticeDate},#{title},#{content})
    </insert>

    <update id="editNotice" parameterType="Map">
        update notice set player_id=#{playerId},home_id=#{homeId},away_id=#{awayId}
        ,notice_date=#{date},title=#{title},content=#{content} where notice_id=#{noticeId}
    </update>
</mapper>
