<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个DAO接口-->
<mapper namespace="com.player.es.Dao.PlayerDao">
    <select id="test" resultType="PlayerDomain">
        SELECT * FROM player
    </select>
    <select id="initPlayerList" parameterType="PlayerDomain">
    INSERT
    INTO player(player_id, team_id,player_name,player_birth,player_height,player_weight,player_wingspan,player_position,player_servicing)
    VALUES(#{playerId},#{teamId},#{playerName},#{playerBirth},#{playerHeight},#{playerWeight},
           #{playerWingspan},#{playerPosition},#{playerServicing})
</select>
    <select id="isExist" parameterType="String" resultType="boolean">
        SELECT * from player
        where player_id = #{playerId}
    </select>
    <!--球员基本信息 -->
    <select id="getPlayerInfo" parameterType="String" resultType="PlayerDomain">
        SELECT * from player where player_id = #{playerId}
    </select>
    <select id="getPlayerInfoByName" parameterType="String" resultType="PlayerDomain">
        SELECT * from team
    </select>
</mapper>
